.App {
  text-align: center;
}

::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffa3d5;
}

.App-link {
  color: #61dafb;
}

.NavbarLink {
  flex: 1 1 auto;
  color: #ffa3d5;
  transition: color 800ms linear;
  text-decoration: none;
  cursor: pointer;
}

.NavbarLink:hover {
  flex: 1 1 auto;
  color: #fadfed;
  transition: color 800ms linear;
  text-decoration: none;
  cursor: pointer;
}

#headerBar {
  background-color: #554c5df6;
  display: flex;
}

#mainSection {
  background-color: #292929f6;
}

#aboutSection {
  background-color: #292929f6;
  color: #ffa3d5;
}

#aboutHeader {
  background-color: #353434f6;
  color: #ffa3d5;
  padding-top: 20px;
  padding-bottom: 7px;
}

#aboutContent {
  background-color: #353434f6;
  color: #ffa3d5;
  padding-top: 7px;
  padding-left: 17%;
  padding-right: 17%;
  padding-bottom: 40px;
}

.Post {
  padding-left: 20%;
  padding-right: 20%;
}

.PostWrapper {
  display: block;
  background-color: #353434f6;
  padding: 20px;
  cursor: pointer;
  transition: background-color 800ms linear;
}
.PostWrapper:hover {
  background-color: #5e0175e7;
  display: block;
  cursor: pointer;
  transition: background-color 800ms linear;
}

.PostHeader {
}

.PostBody {
  padding-bottom: 10px;
}
